.containTec {
  text-align: center;
}

.imgTec {
  width: 80px;
  height: 80px;
}

.containTecsGao {
  text-align: center;
  align-content: center;
  min-height: 100vh;
}

.containTecs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
